<h1>You Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
    <%= task.completed%>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "Delete #{task.title}",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
            </li>
  <% end %>
  <%= link_to "New Task", new_task_path %>
</ul>
